#!/usr/bin/env zsh

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
# Only set the '-' alias in interactive shells to avoid errors in non-interactive contexts
if [[ $- == *i* ]]; then
  alias -- -="cd -"
fi

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias doc="cd ~/Documents"
alias p="cd ~/projects"
alias g="git"
alias h="history"
alias rh=". ~/.history"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# List recent files excluding . and ..
alias recents='ls -lAFt ${colorflag} | head -10'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias cb="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo mkdir -p ~/.Trash; sudo chown -R satkinson ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"



##################
#General aliases #
##################
alias ll="ls -Fla ${colorflag}"
alias d2u='dos2unix'
alias c=clear
alias copy=cp
alias cls=clear
alias cp='cp -i'
alias dir='ls -Fla'
alias del=rm
alias f=finger
alias help='echo The Unix help command is man.  For example type: man man'
alias m='more'
alias mv='/bin/mv -i'
alias newpasswd=nispasswd
alias q='quota -v'
alias rename=mv
alias rm='rm -i'
alias rd=rmdir
alias term='echo $TERM'
alias t=telnet
alias s=ssh

alias resource='source $HOME/.zshrc'
alias java6='export JAVA_HOME=$(/usr/libexec/java_home -v 1.6) && PATH=$JAVA_HOME/bin:$PATH'
alias java7='export JAVA_HOME=$(/usr/libexec/java_home -v 1.7) && PATH=$JAVA_HOME/bin:$PATH'
alias java8='export JAVA_HOME=$(/usr/libexec/java_home -v 1.8) && PATH=$JAVA_HOME/bin:$PATH'
alias java9='export JAVA_HOME=$(/usr/libexec/java_home -v 9) && PATH=$JAVA_HOME/bin:$PATH'
alias java11='export JAVA_HOME=$(/usr/libexec/java_home -v 11) && PATH=$JAVA_HOME/bin:$PATH'
alias java17='export JAVA_HOME=$(/usr/libexec/java_home -v 17) && PATH=$JAVA_HOME/bin:$PATH'
alias trim="sed -e 's/^[[:space:]]*//g' -e 's/[[:space:]]*\$//g'"

###################
#X-Window aliases #
###################
alias disp='echo $DISPLAY'
# if DISPLAY is set, many programs will assume you are running X
alias nodisp='export DISPLAY='

#####################
#edit/emacs aliases #
#####################
alias e='emacs -nw'
alias edit='emacs'

###############
#Term aliases #
###############
alias vt100='export TERM=vt100;echo "TERM set to vt100"'
alias vt102='setenv TERM=vt102;echo "TERM set to vt102"'
alias xt='setenv TERM=xterm;echo "TERM set to xterm"'


#######################
# Job Control aliases #
#######################
alias 1='fg %1'
alias 2='fg %2'
alias 3='fg %3'
alias 4='fg %4'
alias 5='fg %5'
alias 6='fg %6'
alias 7='fg %7'
alias 8='fg %8'
alias 9='fg %9'
alias 10='fg %10'
alias k1='kill %1'
alias k2='kill %2'
alias k3='kill %3'
alias k4='kill %4'
alias k5='kill %5'
alias k6='kill %6'
alias k7='kill %7'
alias k8='kill %8'
alias k9='kill %9'
alias hi='fc -l'
alias j='jobs -l'
alias sus='kill -STOP $$'


##
## Navigation / Dir Listing
##
alias dv='dirs -v'
alias dh='dirs -v | head -11'
alias dor='ls -Fla'
alias sie='ls -Fla'


##
## Edit and reload aliases for these dotfiles
##
alias zz='vi ~/dotfiles/nowucca/dotfiles/.zshrc'
alias dotf="cd ~/dotfiles/nowucca/dotfiles"
alias dotsync="sync-dotfiles.sh"

##
## Old tools aliases
##
alias gv='ghostview -a4 -magstep -1'
alias xd='xdvi -keep -s 4'
alias xfig='xfig -but_per_row 3 -metric -startgridmode 1 -pheight 15 -pwidth 20'
alias bibview='$HOME/bin/bibview/bibview -rcfile $HOME/bin/bibview/BibView -bibdir $HOME/Pubs/bib -file mybib.bib'
alias cvsup='cvs -q up -dP'
cd .



##
## Maven aliases
##

alias mvnci='mvn clean install | tee mvnci.txt'
alias mvncist='mvn clean install -DskipTests=true | tee mvnci.txt'
alias mvndt='mvn dependency:tree'
alias subtext='/Applications/Sublime\ Text\ 2.app/Contents/MacOS/Sublime\ Text\ 2'
alias mvn3='export M2_HOME=/usr/local/apache-maven-3.0.4; mvn3'
alias pmvn='mvn -s $HOME/.m2/personal-settings.xml'
alias pmvnci='pmvn clean install | tee mvnci.txt'
alias pmvncist='pmvn clean install -DskipTests=true | tee mvnci.txt'
alias pmvndt='pmvn dependency:tree'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias gw="./gradlew"

##
## Mermaid aliases
##
alias mmd2png='mmdc --input - -outputFormat png --backgroundColor transparent'


##
## Netflix aliases
##
alias worklist='work list --column "workspace,status,starts at,stops after"'
alias workssh='work ssh'
alias workcreate='work create'

alias tsc='npx tsc --noEmit --project packages/app/tsconfig.json'
alias alacritty='/Applications/Alacritty.app/Contents/MacOS/alacritty &'

alias clauded='claude --dangerously-skip-permissions'
